@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 67% 94%;
    --foreground: 80 10% 20%;
    --card: 80 67% 94%;
    --card-foreground: 80 10% 20%;
    --popover: 80 67% 94%;
    --popover-foreground: 80 10% 20%;
    --primary: 80 20% 31%;
    --primary-foreground: 80 60% 95%;
    --secondary: 80 30% 88%;
    --secondary-foreground: 80 20% 31%;
    --muted: 80 30% 90%;
    --muted-foreground: 80 10% 45%;
    --accent: 120 27% 65%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 20% 85%;
    --input: 80 20% 88%;
    --ring: 80 20% 31%;
    --chart-1: 80 20% 31%;
    --chart-2: 120 27% 65%;
    --chart-3: 80 30% 70%;
    --chart-4: 80 25% 50%;
    --chart-5: 120 20% 80%;
    --radius: 0.5rem;
    --sidebar-background: 80 40% 97%;
    --sidebar-foreground: 80 10% 20%;
    --sidebar-primary: 80 20% 31%;
    --sidebar-primary-foreground: 80 60% 95%;
    --sidebar-accent: 80 50% 91%;
    --sidebar-accent-foreground: 80 20% 31%;
    --sidebar-border: 80 20% 85%;
    --sidebar-ring: 80 20% 31%;
  }

  .dark {
    --background: 80 10% 10%;
    --foreground: 80 25% 95%;
    --card: 80 10% 10%;
    --card-foreground: 80 25% 95%;
    --popover: 80 10% 10%;
    --popover-foreground: 80 25% 95%;
    --primary: 80 60% 95%;
    --primary-foreground: 80 20% 31%;
    --secondary: 80 15% 20%;
    --secondary-foreground: 80 60% 95%;
    --muted: 80 15% 20%;
    --muted-foreground: 80 25% 75%;
    --accent: 120 27% 65%;
    --accent-foreground: 120 25% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 15% 25%;
    --input: 80 15% 25%;
    --ring: 80 60% 95%;
    --chart-1: 80 60% 95%;
    --chart-2: 120 27% 65%;
    --chart-3: 80 30% 50%;
    --chart-4: 80 25% 70%;
    --chart-5: 120 20% 40%;
    --sidebar-background: 80 10% 12%;
    --sidebar-foreground: 80 25% 95%;
    --sidebar-primary: 80 60% 95%;
    --sidebar-primary-foreground: 80 20% 31%;
    --sidebar-accent: 80 15% 20%;
    --sidebar-accent-foreground: 80 60% 95%;
    --sidebar-border: 80 15% 25%;
    --sidebar-ring: 80 60% 95%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
